@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
/* 
Import google fonts -- to use:
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/

@font-face{
    font-family:'Mad Sans';
    src: url(./fonts/MAD\ Sans\ Black.otf);
}



/* Category Style */

.hidden{
    color: white;
}

.flexTitle{
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

.categoryTitle{
    font-size: 650%;
    font-weight: 900;
    margin-left: 3%;
    text-transform: uppercase;
    font-family: 'Mad Sans';
    color: rgba(0,0,255,1);  
}

/* Navbar Styles*/

#hideNavbar{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1031;
    top: 0;
    left: 0;
}

#hideWebsite > *:not(.popUp){
    filter:blur(5px);
  }

nav{
    font-size: 225%;
    font-weight: 900;
    text-transform: uppercase;
    font-family: 'Mad Sans';
    color: rgba(0,0,255,1);  
}
.navbar{
    padding: 1%;
}
.navbar a{
    cursor: pointer;
}

.navbar.fixed-top a:visited{
    color: rgba(0,0,255,1);
}
.navbar.fixed-bottom a:visited{
    color: rgba(0,0,255,1); 
}
.navbar.fixed-top a:hover{
    color: red;
    text-decoration: none;
}
.navbar.fixed-bottom a:hover{
    color: red;
    text-decoration: none;
}
/*HTML Element styles*/

body {
   font-family: 'Roboto', sans-serif;
   padding-top: 5%;
   padding-left: 1%;
   padding-right: 1%; 
   background-image: url("./images/background.jpg");
   background-size:38%;
}

svg{
    height: 6%;
    width: 6%;
    padding: 1%
}

button{
    background-color: rgba(0,0,255,1);
    border: none;
    color: white;
    width: 100%;
}

a{
    color: rgba(0,0,255,1)
}



/*Content Page */
.contentContainer{
    border: 1px rgba(0,0,255,1) solid;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.contentTop{
    display:flex;
    justify-content: space-between;
    align-items: center;
}


.contentTitle{
    font-size: 500%;
    font-weight: 900;
    text-transform: uppercase;
    font-family: 'Mad Sans';
    color: rgba(0,0,255,1);  
}

.contentEtherpadTitleLabel{
   text-align: end;
   text-transform: uppercase;
   font-size: 80%;
}

#contentEtherpadTitle{
    text-transform:none;
}

.contentAuthorDate{
    font-size: 250%;
    font-weight: 900;
    text-transform: uppercase;
    font-family: 'Mad Sans';
    color: rgba(0,0,255,.6);  
}

.contentContentType{
    text-transform: uppercase;
    font-size: 80%;
}

.contentKeyword{
    font-size: 80%;
    font-style: italic;
    font-weight: lighter;
    color:rgba(108,117,125,0.7);
}

.contentColumn{
    padding-top: 2%;
    padding-bottom: 2%;
}
.contentContent{
    text-transform: uppercase;
}
.contentDescription{
    padding-bottom: 2%;
    font-weight: lighter;
    font-size: 90%;
}

/* Bootstrap elements */


.row{
    margin: 0;
}

.form-control{
    border-radius:0;
}

/*General Popup settings*/

.icon{
    float:right;
    color: red;

}

.iconRow{
    width: 100%;
}

.popupTab{
    background-color: rgba(0,0,255,1);  
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
}

.popupBottom{
    border: 1px rgba(0,0,255,1) solid;
    background-color: white;
}

.popupContent{
    padding: 0 3% 3% 3%;
}

/*Specific Popup edits*/

#aboutPopup{
    width: 33.33%; 
    font-family: 'Roboto', sans-serif;
    z-index: 9999;
}

#joinPopup{
    width: 20%; 
    font-family: 'Roboto', sans-serif;
    margin-top: 0.5%;
    z-index: 9999;
}

#rulesPopup{
    width: 50%;
    left: 28%;
}

.addcontentrow{
    padding-bottom: 3%;
}

.addcontentsubmitrow{
    padding-top: 3%;
}

#addContentPopup{
    width: 40%;
    left: 5%;
}

#addContentContent{
    width: 100%;
}

.addContentSubmit{
    background-color: rgba(0,0,255,1);
}

.addContentSubmit:focus{
    outline-color: white;
    }
  

#addContentSubmitText{
    font-weight: 900;
    font-family: "Roboto", sans-serif;
    text-transform:uppercase;
    color: white;
}

.addContentFormStyle{
    font-family: 'Roboto', sans-serif;
}

.addContentLabel{
    text-transform: uppercase;
    font-weight: 900;
}


.rulesTitle{
color:rgba(0,0,255,1);
text-transform: uppercase;
font-weight:900;
}

.rulesContent{
    padding-top:5%
}

#searchPopup{
    width: 18%;
    font-family: 'Roboto', sans-serif;
    left: 80%;
}

#searchButton{
    background-color: rgba(0,0,255,1);
    align-items: center;
    color: white;
    font-size: 100%;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 900;
}

.searchRow{
    padding-bottom:3%;
}

.keywordRow{
    padding-top: 3%;
    overflow:scroll;
    width: 100%;
    max-height: 200px;
  
}

.keywordButton {
    background: none;
    border: none;
    padding: 1%;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size:70%;
    text-transform: uppercase;
    color:rgba(0,0,255,1);
    cursor: pointer;
  }

  .keywordButton:hover{
  color:rgba(255,0,0,1);
}

  .keywordButton:focus{
  outline-color: rgba(255,0,0,1);
  }

  .searchKeywordContent{
      padding: 0 6% 3% 6%;
  }

/* Forms */

#joinForm input{
margin: 2%;
}

#joinButton{
    margin: 2% 0 2% 0;
    cursor: pointer;
}

.joinLabel{
    font-weight: 900;
}


/* Padding removers */

.noPaddingRight{
    padding-right: 0;
}

.noPaddingLeft{
    padding-left: 0;
}


/* General UA Resources */

.uaContainer{
    padding: 1% 2% 1% 2%;
}

.uaContainer > .card {
    margin: 3%;

}

/* UA List - Card Settings*/
.uaColumn{
    padding-top: 1%;
    padding-bottom: 1%
}

.uaBody{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: "Open Sans", sans-serif;
}

.uaTitle{
    font-size: 180%;
    font-weight: 900;
    margin-bottom: 0;
}

.uaTitle a{
    color: rgba(0,0,255,1);
}



.uaTitle a:visited{
    color: rgba(0,0,255,1);
    text-decoration: none;
}

.uaTitle a:hover{
    color: rgba(255,0,0,1);
    text-decoration: none;
}


.uaAuthorDate{
    margin-bottom: 1%;
    font-weight:900;
    color: rgba(0,0,255,0.6);
}

.uaKeywords{
    font-weight:lighter;
    color: rgba(108,117,125,0.7);
    font-size: 90%;
    font-style: italic;
}

.uaContent{
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
}

/* =====Only need this if not substringing long body title===== */
.uaCard{
    height: 275px;
    overflow: auto; 
    border-radius: 0; 
    border: 1px rgba(0,0,255,1) solid;
    padding: 1%;
}

/*
.uaCard:hover{
    border: 5px rgba(255,0,0,1) solid;
} 
*/

/* Hide scrollbar for Chrome, Safari and Opera */
.uaCard::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .uaCard {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
/* =====Only need this if not substringing long body title===== */


#searchPopupBottom::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  #searchPopupBottom {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  
